<div class="container">
  <article>
    <h2><%= @question.title %></h2>
    <div class="author">by: <%= @question.user.username %></div>
    <h3><%= @question.body %></h3>
    <% @voteable = @question %>
    <%= erb :'votes/_vote_form' %>

    <% if logged_in? %>
      <a href="/questions/<%="#{@question.id}"%>/comments/new">Comment</a>
    <% end %>
    &nbsp; &nbsp;<a id="clickme">Show comments</a>

    <div class="show" data-collapsible="accordion">
      <% @question.comments.each do |comment| %>
        <%= comment.body %><br>
        <%= User.find_by_id(comment.user_id).username %>
        <hr><br>
      <% end %>
      <a id="hide">Hide comments</a>
    </div>

    <div class="answers">
      <% @answers = @question.answers %>
      <%= erb :'answers/index' %>
    </div>

    <%= erb :'answers/_form' %>

  </article>
</div>

<div class="container">
  <% if @answers %>
  <ul>
    <% @answers.each do |answer| %>
      <em><%= answer.user.username %></em> says: <strong><%= answer.body %></strong>
    <% end %>
  </ul>
  <% end %>
</div>
