
<div class="container">
  <p><h4><%= @question.title %></h4> <h6><%= @question.user.username%></p>
  <hr><br>
  <h6><%= @question.body %></h6>
  <% if logged_in? %>
  <a href="/questions/<%="#{@question.id}"%>/comments/new">Comment</a>
  <% end %>
  &nbsp; &nbsp;<a id="clickme">Show comments</a>
  <div class="show" data-collapsible="accordion">
  <% @question.comments.each do |comment| %>
  <%= comment.body %><br>
  <%= User.find_by_id(comment.user_id).username %>
  <hr><br>
  <% end %>
  <a id="hide">Hide comments</a>
  </div>
</div>



