
<div class="container">
  <h4><%= @question.title %></h4> 
  <p>by <%= @question.user.username%><p>
  <p><%= @question.body %></p>

</div>

<div class="container">
  <% if @answers %>
  <ul>
    <% @answers.each do |answer| %>
      <em><%= answer.user.username %></em> says: <strong><%= answer.body %></strong> 
    <% end %>
  </ul>
  <% end %>
</div>